<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    p{
        text-align: justify;
    }
    body{
        background: springgreen;
    }
</style>
<body>
<h1>Ethics behaviours</h1>
<p>The definition of ethical behavior or ethics as a whole is one that eludes many people. There have been many philosophers that have tried to create a set of guidelines that create a code or baseline to a decision. Immanuel Kant is one such person who has created some of the bases that all theories have been based. Kant’s principals or the categorical imperative is the base for the “Golden Rule”; which is taught to young children. Do on to others, as you would have others do on to you. To quote Kant, “Act that your principle of action might safely be made a law for the whole world.”
Ethical behavior is the way that a person should act using a set of rules or standards that have been formed within a community of people. These communities …show more content…

If the decision hurts more people than it helps then the action should be deemed unethical. This is just one method of finding the ethicality of an action. In this situation bribing a public official is unethical because it creates an environment where that public official is loyal to both the company as well as the constituents that elected them. This creates a situation where the official may have to choose the company that gave them money over the will of the people that have placed their faith and power on them.
Laws are the written word that states what can and cannot be done. Most of these laws are based on ethical principals. It is illegal to willfully kill another person without extenuating circumstances being present. This law is to help protect all people’s lives from the actions of other people. This law is ethical in most circumstances but if we use the same calculation as before we could find a situation where killing a person could be justified as “for the common good”. </p>
</body>
</html>